* {
    padding: 0;
    margin: 0;
}

body {
    max-width:1024px;
    margin: 0 auto;
    font-family: "Helvetica", sans-serif;
}

.resume {
    text-align: center;
    margin: 0 auto;
 }

.image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url("https://pp.userapi.com/c636622/v636622030/1be57/58OVCrs0-yM.jpg") no-repeat 50% 5%;
    background-size: 100%;
    display: inline-block;
}

h1,
h2
{
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 16px;
}

h1 {
    font-size: 2em;
    font-family: "Saira",sans-serif;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef;
}

 main li {
    margin-left: 18px;
}

p,
li
{line-height: 1.5;}

#Code_example pre {
    background-color:#e3e0e0;
}